@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "MuseoModerno", cursive;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {

 position: relative;
 display: grid;
 grid-template-columns: 1fr 45% 45% 1fr;
 grid-template-rows: auto auto auto auto;
 grid-template-areas: 
 "header header header header"
 "main main main main"
 "footer footer footer footer";

 width: 100%;
 height: 100vh;
 background: linear-gradient(rgba(219, 165, 20, 0.2),rgba(0, 0, 0, 0.5)) ,url(../images/home-background.jpg) no-repeat;
 background-size: cover;
 position: relative;   
   
}


.navbar {
    background-color: rgba(14, 17, 17, 0.8);
    height: 10rem;
    grid-area: header;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: 900;
}

.logo {
    width: 20rem;
    content:url("../images/logo-light.png");
}


.nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: 2.5rem;
    color: #ffffff;

}

.nav a {
    color: #ffffff;
}

.nav a:hover {
    color: 	rgb(219, 165, 20);
    text-decoration: underline;
}


.section-1 {

    height: 100vh;
    font-size: 3rem;

    grid-area: main;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section-1 h1 {
    color: rgba(14, 17, 17, 0.8);
    font-family: "Permanent Marker", sans-serif;
}


.section-blockquotes {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 60%;


}

.section-text {
    align-self: flex-start;
    margin: 2rem;
    border: 4px rgba(14, 17, 17, 0.9) solid;
    height: 30rem;
    width: 28rem;
    border-radius: 10%;
    background-color: #dfdfdf;;
    box-shadow: 13rem 10rem 32rem -10ren rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    text-transform: uppercase;
}



.section-blockquotes li {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.section-blockquotes span.text-2 {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 400;
}


.footer {
    grid-area: footer;

    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgba(14, 17, 17, 0.8);
    height: 5rem;
}

.copyright {
    align-self: center;
    font-size: 2.5rem;
    color: #ffffff;
}





@media(max-width: 1800px) {



}



@media(max-width: 1200px) {


    html {
        font-size: calc(62.5% / 1.5);
    }

    body {

        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.4)) ,url(../images/home-background-1200px.jpg) no-repeat;
        background-size: cover;
        position: relative;   
          
    }

}

@media(max-width: 900px) {

    html {
        font-size: calc(62.5% / 1.8);
    }

    body {

        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.4)) ,url(../images/home-background-900px.jpg) no-repeat;
        background-size: cover;
        position: relative;   
          
    }



    
    .section-text {

        height: 30rem;
        width: 100%;

    }



}


@media(max-width: 600px) {

    html {
        font-size: calc(62.5% / 2);
    }
  
    body {

        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.4)) ,url(../images/background_cubes.jpg) no-repeat;
        background-size: cover;
        position: relative;   
          
    }  

    .logo {
        width: 75rem;
        content:url("../images/logo-dark.png");
        padding: 10rem 0;
    }

    .section-blockquotes {
        display: none;
        visibility: hidden;
    }

    .navbar {
        background-color: rgba(14, 17, 17, 0);
        flex-direction: column;

    }

    .section-1 h1 {
        text-align: center;

    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        font-size: 4rem;
        color: rgba(14, 17, 17, 0.8);
        text-align: center;

    
    }

    .nav li {
        margin: 1.5rem;
        padding: 2rem 0;
        border-radius: 5%;
        background-color: #dfdfdf;;
        color: rgba(14, 17, 17, 0.8);
        border: 4px rgba(14, 17, 17, 0.9) solid;
        box-shadow: 13rem 10rem 32rem -10rem rgba(0, 0, 0, 0.75); 
        opacity: 0.7;
        text-transform: uppercase;
        background-color: rgba(14, 17, 17, 0.8);
    }









}

